$desktop-width: 624px;

@mixin phone {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

/* this is used:::
@include phone { } 
@include desktop { } 
*/

html {
    height: 100%;
}
html, body {
	margin: 0px;
	padding: 0px;
}

body {
  font-size: 0.95em;
	font-family: 'Karla', helvetica, arial, sans-serif;
	line-height: 1.5em;
	color: #111;

	background: linear-gradient(70deg, #f7f6ea 0%, #ffffff 100%) #F8F8F1;
}

.darkmode {
    color: #EEE !important;
}



hr {
  border: 1px solid #AAA;
  margin: 30px 0px;
}

br {

}

a { 
	color: #333;  
	font-weight: bold;
	text-decoration: none;
	border-bottom: 2px dotted #E3D940;

    .darkmode & {
        color: #FFF;
    }

    &:hover {
        color: #BBB;
    } 
}



